* {
  margin: 0;
  padding: 0;
  list-style: 0; }

img {
  border: none; }

a {
  text-decoration: none; }

.banner {
  position: relative;
  width: 670px;
  margin: 0 auto; }
  .banner .imgbox {
    width: 670px;
    height: 240px; }
    .banner .imgbox a {
      position: absolute;
      top: 0;
      left: 0; }
  .banner .btn {
    width: auto;
    height: 14px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    text-align: center;
    line-height: 14px;
    font-size: 12px; }
    .banner .btn div {
      float: left;
      height: 14px;
      width: 14px;
      margin-left: 2px;
      color: #fff;
      background: rgba(0, 0, 0, 0.5); }

.banner .btn .hot {
  background: #7A0715;
  width: 23px; }
